
<%= link_to 'Create new location', new_location_path, 'data-no-turbolink' => true %> 
<% @location.each do |loc| %>
    Address: <%= loc.address %><br /><br />
    Longitude: <%= loc.longitude %><br /><br />
    Latitude: <%= loc.latitude %><br /><br />
<% end %>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'>
      
  </div>
</div>

<style type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
window.onload = function() { Gmaps.loadMaps(); };
</style>