<table class="table table-striped">
  <thead>
    <td><strong>Address</strong></td>
    <td><strong>Latitude</strong></td>
    <td><strong>Longitude</strong></td>
  </thead>
  <% @location.each do |loc| %>
    <tr>
      <td><%= loc.address %></td>
      <td><%= loc.latitude %></td>
      <td><%= loc.longitude %></td>
      <td><%= link_to '', location_path(id: loc.id), class:"glyphicon glyphicon-trash", method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
  <% end %>
</table>
<br />
<br />
<div class="page-header">
  <h1>You are somewhere here right now.. <small>Where do you want to go?</small></h1>
</div>
<div id="map" class="container-fluid panel panel-success" style="width: 100%; height: 500px;"></div>
  <script type="text/javascript">
   $.ajax({
      url: "/map.json",
      type: "GET"
    })
    .done(function(data){
      displayLocation(data);
    });
    
    var styles = [{"featureType":"all","elementType":"all","stylers":[{"invert_lightness":true},{"saturation":10},{"lightness":30},{"gamma":0.5},{"hue":"#00aaff"}]},{"featureType":"administrative.province","elementType":"geometry.stroke","stylers":[{"saturation":"100"},{"lightness":"27"}]},{"featureType":"landscape","elementType":"geometry.fill","stylers":[{"color":"#32373c"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"saturation":"100"},{"lightness":"69"},{"gamma":"1.40"}]},{"featureType":"road.highway","elementType":"labels.text.fill","stylers":[{"lightness":"100"},{"saturation":"100"}]},{"featureType":"road.highway.controlled_access","elementType":"labels.icon","stylers":[{"saturation":"100"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"saturation":"43"},{"lightness":"51"}]},{"featureType":"road.arterial","elementType":"labels.text.fill","stylers":[{"saturation":"45"},{"lightness":"19"}]}]
    
    function displayLocation(dataObject){
      let locations = [];
      console.log(dataObject[0].longitude);
      for( var x=0; x < dataObject.length; x++ ) {
        locations.push( [] );
      }
      
      // expand all rows to have the correct amount of cols
      for(var x=0; x < dataObject.length; x++)
      {
        locations[x][0] = dataObject[x].address;
        locations[x][1] = dataObject[x].latitude;
        locations[x][2] = dataObject[x].longitude;
      }
      console.log(locations);
      let map = new google.maps.Map(document.getElementById('map'), {
        zoom: 13,
        center: new google.maps.LatLng('<%= request.location.latitude %>', '<%= request.location.longitude %>'),
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        styles: styles
      });
  
      let infowindow = new google.maps.InfoWindow();
  
      let marker, i;
      
      var icon = {
        url: 'http://files.softicons.com/download/web-icons/vista-map-markers-icons-by-icons-land/png/256x256/MapMarker_Marker_Outside_Azure.png',
        scaledSize: new google.maps.Size(50, 50), // scaled size
        origin: new google.maps.Point(0,0), // origin
        anchor: new google.maps.Point(0, 0) // anchor
      };
      
      for (i = 0; i < locations.length; i++) {  
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[i][1], locations[i][2]),
          map: map,
          icon: icon
        });
        console.log(marker);
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
            infowindow.setContent(locations[i][0]);
            infowindow.open(map, marker);
          }
        })(marker, i));
      }
    }
    
    if(navigator.geolocation)
    {
      navigator.geolocation.getCurrentPosition(function(position){
        console.log(position);
      });
    }
    else{
      console.log("Boom");
    }
  </script>
