<table class="table table-striped">
  <thead>
    <td><strong>Address</strong></td>
    <td><strong>Latitude</strong></td>
    <td><strong>Longitude</strong></td>
  </thead>
  <% @location.each do |loc| %>
    <tr>
      <td><%= loc.address %></td>
      <td><%= loc.latitude %></td>
      <td><%= loc.longitude %></td>
      <td><%= link_to '', location_path(id: loc.id), class:"glyphicon glyphicon-trash", method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
  <% end %>
</table>
<br />
<br />
<div id="map" class="container" style="width: 100%; height: 500px;"></div>
  <script type="text/javascript">
   $.ajax({
      url: "/map.json",
      type: "GET"
    })
    .done(function(data){
      displayLocation(data);
    });
    
    function displayLocation(dataObject){
      let locations = [];
      console.log(dataObject[0].longitude);
      for( var x=0; x < dataObject.length; x++ ) {
        locations.push( [] );
      }
      
      // expand all rows to have the correct amount of cols
      for(var x=0; x < dataObject.length; x++)
      {
        locations[x][0] = dataObject[x].address;
        locations[x][1] = dataObject[x].latitude;
        locations[x][2] = dataObject[x].longitude;
      }
      console.log(locations);
      let map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,
        center: new google.maps.LatLng('<%= request.location.latitude %>', '<%= request.location.longitude %>'),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });
  
      let infowindow = new google.maps.InfoWindow();
  
      let marker, i;
     
      for (i = 0; i < locations.length; i++) {  
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[i][1], locations[i][2]),
          map: map
        });
        console.log(marker);
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
            infowindow.setContent(locations[i][0]);
            infowindow.open(map, marker);
          }
        })(marker, i));
      }
    }
    
  </script>
