<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'gmaps4rails' %>
  <script src="//maps.google.com/maps/api/js?key=AIzaSyDiYySheT8tewQCvxl3UoRH-i2ys2IVt0M"></script> 
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>

<!-- http://stackoverflow.com/questions/16112179/unable-to-render-gmaps4rails-map -->